
.banner{
    /* display: flex; */
    background: url("/A3/images/banner.svg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -90px;
}
.container1{
    width: 1200px;
    margin: 0 auto;
}
.logoBlock{
    display: flex;
    width: 71px;
    height: 30px;
   
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-top: 10px;

}

.header{
    display: flex;
    justify-content: space-around;
    margin: auto;
    /* padding-left: 250px;
    padding-right: 250px; */
    padding: 20px 240px;
   
}
.navList ul{
    display: flex;
    
    gap: 70px;

}
.navList ul li {
    list-style: none;
    
} 
.navList ul li a{
    text-decoration: none;
    color:#ffffff;
    
} 
.container2{
    
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}
.heading{
    max-width: 800px;
    margin-bottom: 10px;
}
.heading h1{
    font-size: 72px;
    /* word-wrap: break-word;
    line-height: 1.2;
    margin: 0; */
    text-align: center;

}
.descriptionWraper{
    max-width: 520px;
    text-align: center;
    margin-bottom: 70px;
}
.info{
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: auto;
}
.serviceInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.serHead{
    font-size: 18px;
}
.serPara{
    font-size: 16px;
}
