@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Heebo:wght@100..900&display=swap');

*{
    font-family: "Heebo", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.sec{
    display: flex;
    justify-content: center;
}
.container1, .container2 ,.container3 ,.header1{
    width: 1200px;
    margin: auto;
}
.container1, .container2 ,.container3 {
    padding-left: 150px;
    padding-right: 150px;
}
.container1{
    margin-bottom: 40px;
}



.navlist{
    display: flex;
    gap:15px ;
    list-style: none;
    justify-content: flex-end;
    padding: 10px 20px;
    

}
.navlist a{
    text-decoration: none;
    color: #000000;
    
    

}

.heas{
    font-size: 44px;
}
.cont1{
    font-size: 16px;
    margin-bottom: 30px;
}
.cont2{
    font-size: 18px;
}
.cont3{
    font-size: 20px;
}
.cont4{
    font-size: 22px;
}
.cont4{
    font-size: 30px;
}
.cont5{
    font-size: 26px;
}
.ban1{
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
}
.ban2{
    width: 506px;
}
#drl{
    text-decoration: none;
    background-color: #FF6464;
    padding: 10px 20px;
    color:  #FFFFFF;

;
}

#prof{
 width: 243px;
height: 200px;   
object-fit: cover;
border-radius: 50%;


}

.container2{

    background-color: #EDF7FA;
    padding-bottom: 50px
;
}
.cont2Heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    
    
}
.va{
   
    color: #00A8CC;
    text-decoration: none;
    font-weight: 500;
}
.cards{
    display: flex;
    gap: 10px;
    align-items: center;

}
.card{
    background-color: #FFFFFF;
   
    padding-left: 40px;
    padding-right: 40px;

}
.container3{
    margin-bottom: 60px;
   

}
.im{
    width: 246px;
    height: 184px;
    border-radius: 6px;
}
.block{
    display: flex;
    gap: 20px;
    padding-right: 100px;

}
.year{
    background-color: #142850;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 10px 20px;

}
.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.footc{
    display: flex;
    align-items: center;
    justify-content: center; 
}
.sp{
    display: flex;
    gap: 30px;
    color:#8695A4;

}